# Requirements for the main app.
Kivy~=2.0.0

# Requirements for tests/linting.
coverage~=5.5
pylint~=2.9.5

# Requirements for evaluating AI players.
statsmodels~=0.12.2
pandas~=1.3.1
matplotlib~=3.4.2
numpy~=1.21.1
graphviz~=0.17

# For lib_mcts_player.
mcts~=1.0.4