#  Copyright (c) 2021 Cristian Patrasciuc. All rights reserved.
#  Use of this source code is governed by a BSD-style license that can be
#  found in the LICENSE file.

# Requirements for the main app.
Kivy~=2.1.0

# Requirement for CythonMctsPlayer
setuptools~=69.2.0
Cython~=0.29.33