#  Copyright (c) 2021 Cristian Patrasciuc. All rights reserved.
#  Use of this source code is governed by a BSD-style license that can be
#  found in the LICENSE file.

# Requirements for the main app.
Kivy~=2.3.1

# Requirement for CythonMctsPlayer
setuptools~=75.8.0
Cython~=3.0.11